@tailwind base;
@tailwind components;
@tailwind utilities;

.card-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.success {
    padding: 1rem;
    border: solid 1px rgb(0, 172, 0);
    border-radius: 5px;
    color: rgb(0, 172, 0);
    background-color: rgba(0, 172, 0, 0, 5);
}